button{all: unset;} a{all: unset;} body{margin: 0;}
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(110, 110, 110);
}
:root{
    /* Feed */
    --feed-posts-card-bg: rgb(236, 236, 236);
    --feed-posts-card-bg-hover: rgb(209, 209, 209);

    /* Post Actions */
    --post-action-bg: rgb(182, 182, 182);
    --post-action-bg-hover: rgb(199, 199, 199);

    --post-action-upvote-outline: rgb(252, 44, 17);
    --post-action-downvote-outline: rgb(106, 92, 255);
    --post-action-upvote-bg: linear;
    --post-action-downvote-bg: linear;

    /* NavBar */
    --main-navbar-bg: rgb(247, 152, 45);
    --main-navbar-border-bottom: rgb(43, 43, 43);

    /* Flairs */
    --flair-vent-color: rgb(255, 63, 29);
    --flair-meme-color: rgb(79, 224, 106);
}

/** ==================== Main ==================== **/
.normal_fs{
    font-size: 1rem;
    line-height: 1.25rem;
}

/** =================== NavBar =================== **/
.main_navbar{
    display: grid;
    position: relative;
    grid-template-columns: max-content 1fr 65px;
    grid-template-rows: 100%;
    width: 100%;
    height: 65px;
    border-bottom: 3px var(--main-navbar-border-bottom) solid;
    background-color: var(--main-navbar-bg);
}
.main_navbar__item{
    padding: 10px;
}
.main_navbar__account_image{
    width: 100%;
}

/** ==================== Index ==================== **/
main.index_main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 100%;
    min-height: 100vh;
    width: 100%;
}
.index_main_item_column{
    outline: red 2px solid;
}

.post{
    display: block;
    position: relative;
    background-color: var(--feed-posts-card-bg);
    margin: 25px 0px;
    padding: 15px 15px 8px 15px;
    border-radius: 12px;
}
.post:hover{
    filter: brightness(0.9);
    cursor: pointer;
}
.post__item{
    position: relative;
    width: 100%;
}
/* ? -------------------- Flairs -------------------- */
.post__flair_wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    position: relative;
    margin-top: 7px;
    font-weight: normal;
}
.post__flair{
    display: inline;
    font-size: 0.85rem;
    padding: 3px 6px;
    border-radius: 30px;
    position: relative;
}
.flair__meme{
    background-color: var(--flair-meme-color);
}
.flair__vent{
    background-color: var(--flair-vent-color);
}

/* Post Meta */
.post__meta{
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 100%;
    position: relative;
    width: 100%;
    height: 30px;
}
.post__meta::before{
    content: '';
    position: absolute;
    left: -10px;
    bottom: -10px;
    width: calc(100% + 20px);
    height: 2px;
    background-color: rgb(190, 190, 190);
}
.post__user_wrapper{
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}
.post__avatar{
    border: 2px solid gray;
    padding: 2px;
    border-radius: 50%;
}
.post_username{
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
}
.post__date{
    display: flex;
    align-items: center;
}
/* Post Content */
.post__heading{
    font-size: 1.7rem;
    margin-bottom: 12px;
}
.post__text{
    margin-top: 0;
    margin-bottom: 0;
}
.post__image_wrapper{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    overflow: hidden;
    border-radius: 15px;
}
.post__image{
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 450px;
    max-width: 100%;
    z-index: 1;
}
.post__image__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(25px) brightness(0.35);
    scale: 1.2;
    z-index: 0;
}
/* Post Actions */
.post__actions{
    display: grid;
    position: relative;
    grid-template-columns: max-content max-content 1fr max-content;
    gap: 10px;
    grid-template-rows: 100%;
    margin-top: 10px;
    width: 100%;
    height: 36px;
}
.post__actions_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36;
    min-width: 36px;
    padding-left: 8px;
    padding-right: 11px;
    background-color: var(--post-action-bg);
    border-radius: 100px;
}
.post__actions_btn:not(.post__upvote_btn--voted){
    background-color: var(--post-action-bg-hover);
}
.post__action_btn_icon{
    user-select: none;
    width: 25px;
    transition:
    transform 0.1s,
    scale 0.2s;
}

.post__vote_btns_wrapper{
    display: flex;
    position: relative;
    height: 100%;
    gap: 10px;
    justify-content: center;
}
.post__votes_count{
    margin-left: 6px;
}
.post__upvote_btn:hover{
    outline: var(--post-action-upvote-outline) 2px solid;
}
.post__upvote_btn:hover .post__action_btn_icon{
    transform: translate(0px, -3px);
    scale: 1.1;
}
.post__downvote_btn:hover{
    outline: var(--post-action-downvote-outline) 2px solid;
}
.post__downvote_btn:hover .post__action_btn_icon{
    transform: translate(0px, -3px);
    scale: 1.1;
}

.post__upvote_btn--upvoted{
    /* background-color: var(--post-action-upvote) !important; */
    background: linear-gradient(to top, var(--post-action-upvote-outline), rgb(255, 81, 0));
}
.post__downvote_btn--downvoted{
    background: linear-gradient(to top, var(--post-action-downvote-outline), rgb(92, 130, 255));
}

.post__comments_count{
    margin-left: 5px;
}

.post__share_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.post__share_text{
    margin-left: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
}